<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="static/stil.css">
<title>Home - projeksjonsvelger!</title>
</head>

<body>

 <div class="bg-image"></div>

<div class="bg-text">
  <h1><img src="static/grafikk/logoskmu.png" alt="Velkommen" height="100"></h1>
  <p>Velg et bilde du vil projektere:</p>

   <p>
   <center>
      <table>
   	<tr>
   		<th><a href="/gaard"><img src="static/bilder/jobber/gaard.png" alt="Gården" class="forsidebilde"></a></th>
   		<th><a href="/mansion"><img src="static/bilder/jobber/mansion.png" alt="Toalett" class="forsidebilde"></a></th>
   	</tr>
   	<tr>
   		<th><a href="/byhus"><img src="static/bilder/jobber/byhus.png" alt="Hus" class="forsidebilde"></a></th>
   		<th><a href="/under_vann"><img src="static/bilder/jobber/under_vann.png" alt="Bakgård" class="forsidebilde"></a></th>
   	</tr>
   </table>
     
     
   </center>
       
   </p>
   
</div> 

</body>
</html>